<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Details Card</h2>
	</div>
	<div class="panel-body">
	  <!--
    <h5>Test complexity: <b>{{testComplexity}}</b></h5>
    -->
    <h5>
      Total no. of questions: <b>{{totalQuestions}}</b>
    </h5>
    <h5>
      No. of questions attempted: <b>{{questionsAttempted}}</b>
    </h5>
    <div ng-show="showscores"  style="padding-top:0px">
      <h5>
      No. of correct answers: <b>{{correctAnswers}}</b>
    </h5>
    <h5>
      Overall score: <b>{{score}}/{{totalQuestions}}</b>
    </h5>
    </div>
    <div class="inner">
                <div>
                    <video id="video" autoplay loop controls></video>
                </div>
            </div>
    <div style="padding-top:10px">
      <input type="button" class="btn btn-sm btn-success" name="score" value="OK. Send" ng-click="showScores()"/>
    </div>
  </div>
</div>